npm install --save-dev @jridgewell/sourcemap-codec
npm install --save-dev @rollup/plugin-commonjs
npm install --save-dev @rollup/pluginutils
npm install --save-dev @socket.io/component-emitter
npm install --save-dev @types/cookie
npm install --save-dev @types/cors
npm install --save-dev @types/estree
npm install --save-dev @vitejs/plugin-vue
npm install --save-dev accepts
npm install --save-dev axios
npm install --save-dev base64id
npm install --save-dev bezier-js
npm install --save-dev commondir
npm install --save-dev cookie
npm install --save-dev cors
npm install --save-dev debug
npm install --save-dev echarts
npm install --save-dev element-plus
npm install --save-dev engine.io-parser
npm install --save-dev engine.io
npm install --save-dev fs.realpath
npm install --save-dev glob
npm install --save-dev html2canvas
npm install --save-dev inflight
npm install --save-dev inherits
npm install --save-dev is-reference
npm install --save-dev keyboardjs
npm install --save-dev mobx
npm install --save-dev ms
npm install --save-dev negotiator
npm install --save-dev object-assign
npm install --save-dev once
npm install --save-dev sass
npm install --save-dev socket.io-adapter
npm install --save-dev socket.io-parser
npm install --save-dev socket.io
npm install --save-dev sortablejs
npm install --save-dev typescript
npm install --save-dev vary
npm install --save-dev vite
npm install --save-dev vue-draggable-next
npm install --save-dev vue-draggable-plus
npm install --save-dev vue-router
npm install --save-dev vue-tsc
npm install --save-dev vue
npm install --save-dev vuedraggable
npm install --save-dev vuex
npm install --save-dev wrappy
npm install --save-dev ws